*{
    margin: 0px;
    font-family: 'Inter';
}

#logo{
    margin-top: 50px;
    margin-left: 50px;
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image: url(./images/fundo-menusuperior.svg);
    color: aliceblue;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
/*margem norte leste sul oeste*/
.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

.textoinfo{
    display: flex;
    align-items: center;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25px;

}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#seta-esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

#forms{
    text-align: center;
}

#titulo-forms{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    height: 40px;
    width: 300px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #3494be;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0f2a35;
    transition: 0.8s;
}
